input[type='text'] {
  width: 320px;
  box-sizing: border-box;
  border: 2px solid #3c1b66;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('/public/img/searchicon.jpeg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 50px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin: 8px 0;
  outline: none;

  justify-content: 'center';
  align-items: 'center';
}

input[type='text']:focus {
  width: 100%;
  background-color: #e3cefc;
  border: 3px solid #6c2eb9;
}
